.page-container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
  }
.content-wrap{
  flex: 1;
}
//   body{
//     background-color: #282c34;
//   }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #14af9b;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.fontIcon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-top: 9px;
}
.searchIcon{
    cursor: pointer;
    margin-left: 8px;
    // margin: 24px 0;
    display: inline-block;
    transition: all 0.2s;
    color: #999999;
    border-radius: 50%;
}

//Style Home
.jumbroton{
    background-image: url(./images/raja-ampat.jpg);
    height: 450px;
    background-position: center;
    display: block;
}
.h1Jumbroton{
  color: #fff;  
}
.pJumbroton{
    color: #fff;
}
.containerJumbroton{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    margin: 10px;
}
.cardBody{
  background-color: whitesmoke;
}
.buttonPage1{
  
}
.buttonPage1:hover{
  background-color: #14af9b;
  
}
.linkediting{
  color:black;
}
.linkediting:hover{
  color: #14af9b;
}

//Style Footer
.main-footer{
  color: #000000;
  background-color: #fff;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
.pMedia{
  color: #999999;
  font-size: 0.9rem;
  line-height: 24px;
  font-weight: 400;
}
.pMediaDate{
  color: #999999;
  font-size: 0.7rem;
  line-height: 24px;
  font-weight: 400;
}
//Style SignIn
.signin{
  text-align: center;
}
.signin{
  width: 500px;
}
//style Tag Archive
.jumbotronTag{
  height: 200px;
  background-image: url(./images/cover.jpg);
  background-position: center;
}
.h1Tag{
  text-align: center;
  color: #fff;
}

//Style Contact

.jContact {
  background-image: url(./images/nightborobudur.jpg);
  background-position: center;
  display: block;
  height: 450px;
}

.h1Contact {
  color: #f9f9f9;
  font-size: 50px;
}
.pContact {
  color: white;
  font-size: 20px;
}

//Style Subscribe
.jSubs {
  background-image: url(./images/bromo.jpg);
  height: 450px;
  background-position: center;
  display: block;
}

.pSubs {
  color: white;
  font-size: 20px;
}
