.page-container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
  }
.content-wrap{
  flex: 1;
}
//   body{
//     background-color: #282c34;
//   }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #14af9b;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.fontIcon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-top: 9px;
}
.searchIcon{
    cursor: pointer;
    margin-left: 8px;
    // margin: 24px 0;
    display: inline-block;
    transition: all 0.2s;
    color: #999999;
    border-radius: 50%;
}

.subsButton {
  background-color: #00ccbb;
  border: 1px solid #00bcab;
}

.darkenImage {
  display: inline-block;
  color: white;
  position: relative;
  }

  .darkenImage:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: all .2s linear;
  }

  .darkenImage h1,
  .darkenImage p {
    position: relative;
  }

.price-content ul li {
  padding-left: 2px;
}

//Style Home
.jumbroton{
    background-image: url(./images/raja-ampat.jpg);
    height: 450px;
    background-position: center;
    display: block;
}
.h1Jumbroton{
  color: #fff;  
}
.pJumbroton{
    color: #fff;
}
.containerJumbroton{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    margin: 10px;
}
.cardBody{
  background-color: whitesmoke;
}
.buttonPage1{
  border: 1px solid #ccc;
  color: #999;
}
.buttonPage1:hover{
  background-color: #14af9b;
  
}
.linkediting{
  color:black;
}
.linkediting:hover{
  color: #14af9b;
}

//Style Footer
.main-footer{
  color: #000000;
  background-color: #fff;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
.pMedia{
  color: #999999;
  font-size: 0.9rem;
  line-height: 24px;
  font-weight: 400;
}
.pMediaDate{
  color: #999999;
  font-size: 0.7rem;
  line-height: 24px;
  font-weight: 400;
}
//Style SignIn
.signin{
  text-align: center;
}
.signin{
  width: 500px;
}
//style Tag Archive
.jumbotronTag{
  height: 275px;
  background-image: url(./images/cover.jpg);
  background-position: center;
  display: block;
}
.h1Tag{
  text-align: center;
  color: #fff;
}

// Style Footer

.list-unstyled {
  padding-bottom: 15px;
}

//Style Contact

.jContact {
  background-image: url(./images/nightborobudur.jpg);
  background-position: center;
  display: block;
  height: 300px;
}

.h1Contact {
  color: #f9f9f9;
  font-size: 50px;
  text-align: center;
}
.pContact {
  color: white;
  font-size: 20px;
}

//Style Subscribe
.jSubs {
  background-image: url(./images/bromo.jpg);
  height: 300px;
  background-position: center;
  display: block;
}

.h1Subs {
  color: #f9f9f9;
  font-size: 50px;
  text-align: center;
}

.pSubs {
  color: white;
  font-size: 20px;
  text-align: center;
}

.price-table {
	padding: 60px auto;
}

.single-price {
	margin: 10px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fafafa;
	transition: 0.5s;
  margin-right: 20px;
  border-radius: 5px;
}

.single-price{
	box-shadow: 0 2px 2px #3f3f3f;
}

.price-head {
	background-color: #00ccbb;
	display: inline-block;
	float: left;
	padding: 10px 5px;
	text-align: center;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.price-head h2 {

	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0;
	padding: 5px;
	padding-top: 20px;
	/*text-transform: uppercase;*/

}

.price-head p .dollar {

	color: #efefef;
	font-size: 20px;
	font-weight: bold;


}

.price-head p .value {

	color: #efefef;
	font-size: 50px;
	font-weight: normal;


}

.price-head p .waktu {

	color: #efefef;
	font-size: 15px;
	font-weight: bolder;
}

.price-content {
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
}

ul li {

	padding: 0px 10px;
	list-style-type: none;

}

ul li:last-child {
	
	border: none;
	padding-bottom: 55px;
}

.fa {

	color: #30dbdd;
	padding: 0 10px;
	font-size: 20px;
}

.price-bottom {
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	text-align: center;
	width: 100%;
}

.buy-btn {

	background-color: #00ccbb;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding: 2px 35px;
  transition: all 0.5s;
  border: 1px solid #00bcab

}

.buy-btn {

	border-color: 1px solid #fff;
	color: #fff !important;

}
//StyleWisata
.jumbotronWisata{
  height: 200px;
  background-image: url(./images/prambanan.jpg);
  background-position: center;
  display: block;
}

//Sentani
.jumbrotonSentani{
  background-image: url(./images/danau-sentani.jpg);
  height: 450px;
  background-position: center;
  display: block;
}
.h1Sentani{
  color: #fff;  
}
.pSentani{
    color: #fff;
}
.containerSentani{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.containerSen{
  text-align: justify;
  width:750px;
}

.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pSentanii{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
}
.sentanismall{
  color: #fff;
}
//Trio
.jumbrotonTrio{
  background-image: url(./images/trio-gili.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Trio{
  text-align: center;
  color: #fff;  
}
.pTrio{
  text-align: center;
  color: #fff;
}
.containerTrio{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.containerTri{
  text-align: justify;
  width:750px;
}

.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pTrio2{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;

}
//Kete

.jumbrotonKete{
  background-image: url(./images/tana-toraja.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Kete{
  text-align: center;
  color: #fff;  
}
.pKete{
  text-align: center;
  color: #fff;
}
.containerKete{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.containerKet{
  text-align: justify;
  width:750px;
}

.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pKete2{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
}
//StyleKebudayaan
.jumbotronKebudayaan{
  height: 200px;
  background-image: url(./images/batik.jpg);
  background-position: center;
  display: block;
}


//StyleAlatMusik
.jumbotronAlatMusik{
  height: 200px;
  background-image: url(./images/angklung.jpg);
  background-position: center;
}


//styleEpidemik
.jumbotronEpidemik{
  height: 200px;
  background-image: url(./images/harimau.jpg);
  background-position: center;
  display: block;
}


//styleTaman
.jumbotronTaman{
  height: 200px;
  background-image: url(./images/taman-baluran.jpg);
  background-position: center;
  display: block;
}


//Gamelan
.jumbrotonGamelan{
  background-image: url(./images/gamelan.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Gamelan{
  text-align: center;
  color: #fff;  
}
.pGamelan{
  text-align: center;
  color: #fff;
}
.containerGamelan{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.containerGame{
  text-align: justify;
  width:750px;
}

.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pGamelan2{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
}

//Sasando
.jumbrotonSasando{
  background-image: url(./images/sasando.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Sasando{
  text-align: center;
  color: #fff;  
}
.pSasando{
  text-align: center;
  color: #fff;
}
.containerSasando{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.containerSasan{
  text-align: justify;
  width:750px;
}

.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pSasando2{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
}


//Komodo
.jumbrotonKomodo{
  background-image: url(./images/komodo.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Komodo{
  text-align: center;
  color: #fff;  
}
.pKomodo{
  text-align: center;
  color: #fff;
}
.containerKomodo{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.containerKomo{
  text-align: justify;
  width:750px;
}

.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pKomodoo{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
}

//Elang
.jumbrotonElang{
  background-image: url(./images/elang-jawa.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Elang{
  text-align: center;
  color: #fff;  
}
.pElang{
  text-align: center;
  color: #fff;
}
.containerElang{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.containerEla{
  text-align: justify;
  width:750px;
}

.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pElango{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
}

//Barisan
.jumbrotonBarisan{
  background-image: url(./images/taman-barisan.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Barisan{
  text-align: center;
  color: #fff;  
}
.pBarisan{
  text-align: center;
  color: #fff;
}
.containerBarisan{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.containerBaris{
  text-align: justify;
  width:750px;
}

.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pBarisano{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
}

//Wakatobi
.jumbrotonWakatobi{
  background-image: url(./images/taman-wakatobi.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Wakatobi{
  text-align: center;
  color: #f9f9f9;  
}
.pWakatobi{
  text-align: center;
  color: #f9f9f9;
}
.containerWakatobi{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.containerWaka{
  text-align: justify;
  width:750px;
}

.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pWakatobio{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
}

// Page Author Archive
.jumbotronAuthor{  
  height: 275px;
  background-image: url(./images/bromo.jpg);
  height: 230px;
  background-image: url(./images/rinjaniMount.jpg);
  background-position: center;
  display: block;

}
.figure{
  width: 250px;
}
.figImage{
  width: 250px;
}

//Wayang
.jumbotronWayang{
  background-image: url(./images/wayang-kulit.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Wayang{
  text-align: center;
  color: #000;  
}
.pWayang{
  text-align: center;
  color: #000;
}
.containerWayang{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
//Saman
.jumbotronSaman{
  background-image: url(./images/tari-saman.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Saman{
  text-align: center;
  color: #000;  
}
.pSaman{
  text-align: center;
  color: #000;
}
.containerSaman{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
//Piring
.jumbotronPiring{
  background-image: url(./images/tari-piring.jpg);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.h1Piring{
  text-align: center;
  color: #000;  
}
.pPiring{
  text-align: center;
  color: #000;
}
.containerPiring{
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
//Isi
.containerIsi{
  text-align: justify;
  width:750px;
}

//Share
.profileMedia{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  // width: 500px;
  // margin-right: 7px;
  // margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.fontsumber{
  margin-right: 50px;
}
.pShare{
  padding-top: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 0.5px solid grey;
  border-radius: 10px;
  color: #000;
  // width: 500px;
  // margin-right: 110px;
  // margin-left: 110px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // padding: 20px;
}

.inputProfile{
  margin-left: 100px;
  margin-right: 100px;
  width: 500px;
}

//TagChild
.cardTagChild{
  text-align: justify;
}
.linkeditingTagChild{
  color:black;
  text-align: justify;
}
.linkeditingTagChild:hover{
  color: #14af9b;
}

//unsplash
.unsplash{
  width: 750px;
  margin: 1000px;
}